<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PyTank!</title>
    </head>
    <body>

        <!-- You could add some CSS here to make bigger buttons, or overlay them on a full screen video feed, but I've kept things as simple as possible for readability -->

        <h3>Python Powered Tank Control</h3>

        <!-- This is the video feed - the URL is populated by Python/Flask -->
        <!-- img src="{{ url_for('video_feed') }}" style="width: 500px;" -->
        <img src="{{ url_for('video_feed') }}">

        <hr/>

    </body>
</html>