[Unit]
Description=pcam_ffmpeg
Wants=network-online.target
After=network-online.target

[Service]
Type=idle
ExecStart=/usr/local/bin/ffmpeg -f v4l2 -framerate 25 -video_size 640x480 -i /dev/video0 -f mpegts -codec:v mpeg1video -s 640x480 -b:v 2000k -bf 0 http://localhost:8081/supersecret


[Install]
WantedBy=multi-user.target

